#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.allComplaints li {
  border: 1px solid whitesmoke;
}
.panel {
  display: none;
  border: 1px solid whitesmoke;
}

